<div id="tbs-container" style="margin-bottom: 200px;">
    <div id="tbs-headline">
            <h2 class="text-center marketing-l text-thin tbs-text-1em">Just two more steps!</h2>
        </div>
        <div class="pull-left">
            <br>
            <p>Your email was successfully verified. Admins are notified about your request and will react soon.</p>
            <a>Registration procedure:</a>
            <li>Creation of account request <i class="glyphicon glyphicon-ok"></i></li>
            <li>Validation of your email address <i class="glyphicon glyphicon-ok"></i></li>
            <li>Account confirmation by admins <i class="glyphicon glyphicon-hourglass"></i></li>
            <li>Setup of your credentials <i class="glyphicon glyphicon-time"></i></li>
        </div>
    </div>
