<div id="tbs-container" style="margin-bottom: 200px;">
    <div id="tbs-headline">
        <h2 class="offset-top-0 offset-bottom-3 text-center">Just three more steps!</h2>
    </div>
    <div class="pull-left">
        <p>We have sent you an email with a verification link to <b><%= mail %></b>.
            Please verify your email in order to proceed.</p>
        <a>Registration procedure:</a>
        <li>Creation of account request <i class="glyphicon glyphicon-ok"></i></li>
        <li>Validation of your email address <i class="glyphicon glyphicon-hourglass"></i></li>
        <li>Account confirmation by admins <i class="glyphicon glyphicon-time"></i></li>
        <li>Setup of your credentials <i class="glyphicon glyphicon-time"></i></li>
    </div>
</div>
