
<div id="tbs-container" style="margin-bottom: 200px;">
  <div id="tbs-headline">
    <h2 class="text-center marketing-l text-thin tbs-text-1em">New credentials</h2>
  </div>
  <%= partial("flash.html") %>
  <div class="row">
    <div class="col-md-12 offset-bottom-1">
      <%= if (errors) { %>
        <%= for (key, val) in errors { %>
          <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
            <%= val %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>

  <%= form({action: credentialresetProcessTokenpwrCreatePath ({ tokenpwr: tokenpwr }), method: "POST"}) { %>

  <p>
    <button class="btn btn-brand btn-block" type="button" data-toggle="collapse" data-target="#collapsePassword" aria-expanded="false" aria-controls="collapsePassword">
      Set new password
    </button>
  </p>
  <div class="collapse offset-bottom-1" id="collapsePassword">
    <div class="card card-body">
      <div class="form-input-set offset-bottom-1 floating">
        <%= f.InputTag({class: "form-control", type: "password", name: "password", placeholder: "Password"}) %>
      </div>
      <div class="form-input-set floating">
        <%= f.InputTag({class: "form-control", type: "password", name: "passwordConfirmation", placeholder: "Confirm Password"}) %>
      </div>
    </div>
  </div>

  <p>
    <button class="btn btn-brand btn-block" type="button" data-toggle="collapse" data-target="#collapseSSHKey" aria-expanded="false" aria-controls="collapseSSHKey">
      Set new SSH key
    </button>
  </p>
  <div class="collapse offset-bottom-1" id="collapseSSHKey">
    <div class="card card-body">
      <div class="form-input-set">
        <%= f.TextArea({name: "ssh", id: "ssh-key", class: "form-input-ssh", row: "", placeholder: "Paste your public SSH key in OpenSSH format here..."}) %>
      </div>
    </div>
  </div>

  <div class="offset-bottom-4">
    <div class="tbs-container">
      <button name="send" type="submit" class="btn btn-brand btn-large btn-block">Proceed</button>
    </div>
  </div>
  <% } %>
</div>
